@namespace Auth.UI.Components.UI.Collapse

<div class="ui-collapse">
    @foreach (var item in Items)
    {
        var isOpen = ActiveKeys.Contains(item.Key);
        <div class="ui-collapse-item">
            <button class="ui-collapse-header" @onclick="() => Toggle(item.Key)">
                <span>@item.Title</span>
                <span style="@(isOpen ? "transform:rotate(180deg);transition:transform .2s" : "transition:transform .2s")">
                    <Icon Name="chevron-down" Size="Icon.IconSize.Small" />
                </span>
            </button>
            <div class="ui-collapse-body @(isOpen ? "is-open" : "")">
                @item.Content
            </div>
        </div>
    }
</div>
