@namespace Auth.UI.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/account.css" />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/webauthn.js"></script>
    <script>
        window.getElementRect = function (el) {
            if (!el) return { left: 0, width: 1 };
            var r = el.getBoundingClientRect();
            return { left: r.left, width: r.width };
        };
    </script>
</body>
</html>
