@namespace Shared.UI.Components.Drawer

@if (Visible)
{
    <div class="ui-drawer-overlay" @onclick="Close"></div>
    <div class="ui-drawer ui-drawer-@Placement.ToString().ToLowerInvariant()" @onclick:stopPropagation>
        <div class="ui-drawer-header">
            <h5 class="ui-drawer-title">@Title</h5>
            <button class="ui-drawer-close" @onclick="Close" aria-label="Close">
                <Icon Name="x" Size="Icon.IconSize.Small" />
            </button>
        </div>
        <div class="ui-drawer-body">
            @ChildContent
        </div>
        @if (Footer is not null)
        {
            <div class="ui-drawer-footer">
                @Footer
            </div>
        }
    </div>
}
