@namespace Auth.UI.Components.UI.Card

<div class="ui-card">
    @if (!string.IsNullOrWhiteSpace(ImageUrl))
    {
        <img class="ui-card-img" src="@ImageUrl" alt="@ImageAlt" />
    }
    <div class="ui-card-body">
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <h5 class="ui-card-title">@Title</h5>
        }
        @if (!string.IsNullOrWhiteSpace(Text))
        {
            <p class="ui-card-text">@Text</p>
        }
        @ChildContent
    </div>
    @if (Footer is not null)
    {
        <div class="ui-card-footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string? ImageUrl { get; set; }
    [Parameter] public string? ImageAlt { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
}
