@namespace Auth.UI.Components.UI.Skeleton

<div class="@CssClass" style="@Style" @attributes="Attributes">
    @if (Variant == SkeletonVariant.Text && Lines > 1)
    {
        @for (int i = 0; i < Lines; i++)
        {
            <div class="ui-skeleton ui-skeleton-text" style="width:@(100 - (i * 10))%"></div>
        }
    }
    else if (Variant == SkeletonVariant.Rectangle)
    {
        <div class="ui-skeleton" style="width:@Width;height:@Height;"></div>
    }
    else if (Variant == SkeletonVariant.Circle)
    {
        <div class="ui-skeleton ui-skeleton-avatar"></div>
    }
    else if (Variant == SkeletonVariant.Image)
    {
        <div class="ui-skeleton ui-skeleton-image"></div>
    }
    else if (Variant == SkeletonVariant.Button)
    {
        <div class="ui-skeleton ui-skeleton-button"></div>
    }
    else
    {
        <div class="ui-skeleton ui-skeleton-text" style="width:100%"></div>
    }
</div>

@code {
    [Parameter] public SkeletonVariant Variant { get; set; } = SkeletonVariant.Text;
    [Parameter] public int Lines { get; set; } = 1;
    [Parameter] public string? Width { get; set; } = "100%";
    [Parameter] public string? Height { get; set; } = "1rem";
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();

    public enum SkeletonVariant { Text, Rectangle, Circle, Image, Button }

    private string CssClass
    {
        get
        {
            var classes = new List<string> { "ui-skeleton-wrapper" };
            if (Attributes.TryGetValue("class", out var extra)) classes.Add(extra?.ToString() ?? string.Empty);
            return string.Join(" ", classes);
        }
    }

    private string Style
    {
        get
        {
            if (Variant == SkeletonVariant.Text && Lines > 1) return string.Empty;
            return $"width:{Width};height:{Height};";
        }
    }
}
