@namespace Shared.UI.Components.Toaster

<div class="ui-toaster ui-toaster-@Position.ToString().ToLowerInvariant()">
    @foreach (var toast in Toasts)
    {
        <div class="ui-toast ui-toast-@toast.Type.ToString().ToLowerInvariant()" role="alert">
            <span class="ui-toast-icon">
                <Icon Name="@IconFor(toast.Type)" Size="Icon.IconSize.Small" />
            </span>
            <span class="ui-toast-message">@toast.Message</span>
            <button type="button" class="ui-toast-close" aria-label="Close" @onclick="@(() => Service.Remove(toast.Id))">
                <Icon Name="x" Size="Icon.IconSize.Small" />
            </button>
        </div>
    }
</div>
