@namespace Auth.UI.Components.UI.Checkbox

<label class="ui-checkbox @(Disabled ? "is-disabled" : "")">
    <input type="checkbox" checked="@Checked" disabled="@Disabled" @onchange="OnChanged" />
    <span>@ChildContent</span>
</label>
